.fa-facebook{
    color: #005098;
    font-size: 42px;
    margin: 10px
;
}
.fa-twitter {
    color: #30B9EE;
    font-size: 42px;
    margin: 10px;
}
.fa-facebook-messenger{
 color: #A833FB;
 font-size: 42px;
 margin: 10px;
}
.fa-viber{
color:#7B4D9F;
font-size: 42px;
margin: 10px;
}